extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About The Site
        p CIS Community is for CIS students to come and ask questions when they are stuck with homework or want to learn soemthing new not taught in class. It's a site for students to get together and make connections.
        p The site is completely free and has no ads. It is student driven and all of the resources are also provided by the students.
        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE
