extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p If you have any questions about the site send me an email! 

        p if you would like to contribute and be part of this open source project just go to the GitHub repo and do a pull request. If you are unsure on how to do that send me an email or see the resources below.
        .resources.col-lg-4.col-md-4.col-md-6
          a.btn.btn-primary(href='#') Get in touch
          hr
          a.btn.btn-primary(href='https://github.com/alexander-alegre/CIS-Community' target='_blank') GitHub
          hr
          a.btn.btn-primary(href='https://git-scm.com/book/en/v2' target='_blank') Free Git Book



