extends layout

block content
  .main.container.text-xs-center
    h1.display-3.animated.rollIn Connect With Fellow Students
    p.lead.animated.rollIn Ask &amp; answer questions, learn about new resources for free!
    a.btn.btn-info-outline.btn-lg.animated.rollIn(href='/register') Get Started for FREE
    hr
    .row
      p.animated.rollIn This is a free website and has no ads. Please sign up and start using it's members only features!
      //- a.btn.btn-primary(href='register') #{totalStudents} students already signed up! 
      //-   i.material-icons thumb_up



