extends layout

block content
    .main.container.clearfix
        .row
            .col-md-8.col-md-offset-2
                h1.display-4
                    img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar') 
                    | #{name}
                h1.favorite-language Favorite Language 
                | #{favorite}
                hr
        .container-fluid
            .row-fluid
                .col-sm-12.col-md-6
                    a(href='./resources')
                        img.img-responsive.img-rounded(src='/images/resources.jpg', alt='')
                        p.text-center Free Resources
                .col-sm-12.col-md-6
                    a(href='https://quiet-plains-47973.herokuapp.com/', target='_blank')
                        img.img-responsive.img-rounded(src='/images/chat.jpg', alt='chat image')
                        p.text-center Talk about code