extends layout

block content
    .main.container.clearfix
        .row
            .col-md-8.col-md-offset-2
                h3 Some resources to help you succeed!
                .media
                    .media-left
                        a(href='#')
                            img.img-rounded.media-object(src='/images/js.png' alt='')
                    .media-body
                        h4.media-heading JavaScript
                        p JavaScript runs the web! It has been branching out to even cell phones now so you need to learn it.
                        a(href='http://jsbooks.revolunet.com/', target='_blank') Free Books
                        br
                        a(href='http://eloquentjavascript.net/', target='_blank') Eloquent JavaScript
                .media
                    .media-left
                        a(href='http://referrals.trhou.se/alexanderalegre', target='_blank')
                            img.img-rounded.media-object.treehouse(src='https://static.teamtreehouse.com/assets/content/referral-badge-grn.png', alt='Team Treehouse')
                    .media-body
                        h4.media-heading Team Treehouse
                        p Team Treehouse is a paid service, it's $25 a month. I highly reccomend it to begginers and advanced developers. They have a very well structured learning system that will show you the ins and outs of any language or paltform you'd like to learn.
                        a(href='http://referrals.trhou.se/alexanderalegre', target='_blank') 7 Day Free Trial!
                .media
                    .media-left
                        a(href='#')
                            img.img-rounded.media-object(src='/images/htmlcss.png' alt='html and css')
                    .media-body
                        h4.media-heading HTML &amp; CSS
                        p HTML and CSS go hand in hand. You need to use both in order to render a website's content and to style that content.
                        a(href='http://learn.shayhowe.com/', target='_blank') Shay Howe's Free Guide
                .media
                    .media-left
                        a(href='#')
                            img.img-rounded.media-object(src='/images/ref.png' alt='html and css')
                    .media-body
                        h4.media-heading References
                        p Use some of these references if you get stuck or forget how to do something. One of the best traits of a developer is the abality to read documentaion well and find the solution to problems.
                        a(href='https://www.w3schools.com/', target='_blank') W3Schools
                        br
                        a(href='https://developer.mozilla.org/en-US/', target='_blank') Mozilla Developer Network